<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haideyin.app">

    <application
        android:name="com.tencent.wx.app.WXApplication"
        android:allowBackup="true"
        android:icon="@drawable/vigatom_icon"
        android:label="@string/vigatom_name"
        android:roundIcon="@drawable/vigatom_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tencent.wx.app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>